{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Вход
{% endblock title %}
{% block content %}
    <div class="container ps-3 p-2">
        <form method="post">
            {% csrf_token %}
            {{ form_login|crispy }}
            <button type="submit" class="btn btn-secondary rounded-5" name='login' value='login'>Войти</button>
        </form>
        <a class="btn btn-outline-secondary rounded-5" href="{% url 'accounts:register' %}">Регистрация</a>
        {% for message in messages %}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
