{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Вход
{% endblock title %}
{% block content %}
    <div class="container ps-3 pt-5 p-2">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2 class="text-center">Войти</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form_login|crispy }}
                    <div class="d-grid gap-2 col-4 mx-auto pt-4">
                        <button type="submit"
                                class="btn btn-secondary rounded-3 align-items-center p-2"
                                name='login'
                                value='login'>Войти</button>
                        <a class="btn btn-outline-secondary rounded-3"
                           href="{% url 'accounts:register' %}">Регистрация</a>
                    </div>
                </form>
                {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
