{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Профиль
{% endblock title %}
{% block content %}
    <div class="container ps-3 p-2">
        <h2>Профиль</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 col-2 pb-2">
                <button class="btn btn-secondary rounded-3" type="submit">Сохранить изменения</button>
            </div>
        </form>
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <div class="d-grid gap-2 col-2">
                <button class="btn btn-outline-secondary rounded-3" type="submit">Выйти из профиля</button>
            </div>
        </form>
    </div>
{% endblock content %}
