{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Регистрация
{% endblock title %}
{% block content %}
    <div class="container pt-5 p-2">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2 class="text-center">Регистрация</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ profile_form|crispy }}
                    {{ user_form|crispy }}
                    <div class="d-grid gap-2 col-6 mx-auto pt-4">
                        <button class="btn btn-outline-secondary rounded-3"
                                type="submit"
                                name='register'
                                value='register'>Зарегистрироваться</button>
                    </div>
                </form>
                {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
