{% extends "base.html" %}
{% block title %}
    О нас
{% endblock title %}
{% block content %}
    <div class="container ps-3 p-2">
        <h2>О нас</h2>
        Наша кондитерская занимается выпечой кондитерских изделий, в которые можно внести желаемые вами изменения.
        <h2>Доставка</h2>
        Есть возможность доставки до удобного вам места или через самовывоз. Самовывоз осуществляется по адресу ул. Куйбышева 26.
        <h2>Оплата</h2>
        Оплата осуществляется по карте или при получении товара.
    </div>
{% endblock content %}
