{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Корзина
{% endblock title %}
{% block content %}
    <div class="container ps-3 p-2">
        <div class="border rounded-2 tbl-brd mb-2">
            <table class="table tbl">
                <thead class="tbl-head-cart">
                    <tr class="fw-normal">
                        <th class="fw-normal" scope="col">Товар</th>
                        <th class="fw-normal" scope="col">Цена</th>
                        <th class="fw-normal" scope="col">Количество</th>
                        <th class="fw-normal" scope="col">Сумма</th>
                        <th class="fw-normal" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr class="align-middle">
                            <th class="fw-normal" scope="row">
                                <div class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="p-2">
                                        <img height="100"
                                             width="160"
                                             src="{{ item.get_item.image.url }}"
                                             class="img-fluid p-2 object-fit-cover rounded-4"
                                             alt="...">
                                    </div>
                                    <div class="p-2">{{ item.get_item.name }}</div>
                                </div>
                            </th>
                            <td>{{ item.get_item_price }}</td>
                            <td>
                                <div class="d-flex">
                                    <div class="p-2 border border-end-0 rounded-start-2 position-relative btn-amount">
                                        <a class="stretched-link text-black link-underline link-underline-opacity-0" href="{% url 'decrease_amount' pk=item.pk %}">-</a>
                                    </div>
                                    <div class="p-2 border px-4 text-center">{{ item.amount }}</div>
                                    <div class="p-2 border border-start-0 rounded-end-2 position-relative btn-amount">
                                        <a class="stretched-link text-black link-underline link-underline-opacity-0" href="{% url 'increase_amount' pk=item.pk %}">+</a>
                                    </div>
                                </div>
                            </td>
                            <td>{{ item.get_price }}</td>
                            <td>
                                <form action="{% url 'remove_item' pk=item.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-center">
                                        <button class="btn" type="submit">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-4">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="col align-self-end">
                    <div class="d-flex flex-row-reverse pb-2">
                        <div class="p-2">
                            <button class="btn btn-secondary rounded-2" type="submit">Оформить заказ</button>
                        </div class="p-2">
                        <div class="d-flex align-items-center">Итог: {{ order.get_total }} руб.</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
