<nav>
  <ul style="display:flex; justify-content:space-evenly">
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'orders' %}">Orders</a></li>
    <li><a href="{% url 'cart' %}">Cart</a></li>
    {% if user.is_authenticated %}
    <li>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
      </form>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    
  </ul>
</nav>