{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {{ item.name }}
{% endblock title %}
{% block content %}
    <div class="container ps-3 p-2">
        <div class="row pb-2">
            <div class="col">
                <h2>{{ item.name }}</h2>
            </div>
            <div class="col">
                <ul class="nav nav-underline justify-content-center"
                    id="myTab"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active text-black"
                                id="desc-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#desc-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="desc-tab-pane"
                                aria-selected="true">Описание</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-black"
                                id="cont-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#cont-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="cont-tab-pane"
                                aria-selected="false">Состав</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-black"
                                id="cust-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#cust-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="cust-tab-pane"
                                aria-selected="false">Компоненты</button>
                    </li>
                </ul>
            </div>
        </div>
        <form method="post">
            <div class="row">
                <div class="col">
                    <img height="300"
                         width="400"
                         src="{{ item.image.url }}"
                         class="object-fit-cover rounded-4"
                         alt="...">
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="tab-content text-center w-100 mx-5 p-2" id="myTabContent">
                        <div class="tab-pane fade show active flex-fill"
                             id="desc-tab-pane"
                             role="tabpanel"
                             aria-labelledby="desc-tab"
                             tabindex="0">{{ item.description }}</div>
                        <div class="tab-pane fade"
                             id="cont-tab-pane"
                             role="tabpanel"
                             aria-labelledby="cont-tab"
                             tabindex="0">{{ item.contents }}</div>
                        <div class="tab-pane fade"
                             id="cust-tab-pane"
                             role="tabpanel"
                             aria-labelledby="cust-tab"
                             tabindex="0">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="p-2">{{ item.price }} руб.</div>
                        <div class="p-2">
                            {% if request.user.is_authenticated %}
                            <button class="btn btn-secondary rounded-3"
                                    type="submit"
                                    href="{% url 'menu' %}">В корзину</button>
                            {% else %}
                            <a class="btn btn-secondary rounded-3 disabled"
                                    href="{% url 'accounts:login' %}">Необходимо войти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}