{% extends "base.html" %}
{% load static %}
{% block title %}
    Заказы
{% endblock title %}
{% block content %}
    <div class="container ps-3 p-2">
        <div class="border rounded-2 tbl-brd mb-2">
            <table class="table tbl">
                <thead class="tbl-head-order">
                    <tr>
                        <th class="fw-normal" scope="col">Товар</th>
                        <th class="fw-normal" scope="col">Место доставки</th>
                        <th class="fw-normal" scope="col">Дата доставки</th>
                        <th class="fw-normal" scope="col">Количество</th>
                        <th class="fw-normal" scope="col">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr class="align-middle">
                            <th class="fw-normal" scope="row">
                                <div class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="p-2">
                                        <img height="100"
                                             width="160"
                                             {% if item.get_item.image %}
                                                src="{{ item.get_item.image.url }}"
                                             {% else %}
                                                src="{% static 'assets/img/item.png' %}" 
                                             {% endif %}
                                             class="img-fluid p-2 object-fit-cover rounded-4"
                                             alt="...">
                                    </div>
                                    <div class="p-2">{{ item.get_item.name }}</div>
                                </div>
                            </th>
                            <td>
                                {{ item.order.delivery_address }}
                                <br />
                                {{ item.order.get_delivery_type_display }}
                            </td>
                            <td>{{ item.order.completion_date|default_if_none:"-" }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.order.get_status_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
