$secondary: #B7C297;
$enable-negative-margins: true;

@import "./bootstrap/bootstrap";

.btn-outline-secondary {
    --bs-btn-color: #000000
}

.navbar {
    background-color: #E0E7D7;
}

.tbl-brd {
    overflow: hidden;
}

.tbl {
    margin-bottom: -1px !important;
}